.title {
    text-align: left;
    padding-left: 20px;
}

.container {
    margin: 0 auto;
    width: 60%;
    background-color: #acc3a6b9;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    .container {
        width: 80%;
    }
}

.header {
    margin-top: 30px;
    border-radius: 20px 20px 0 0;
    padding: 1vh;
    background-color: #f4f1ec;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

hr {
    border: none;
    height: 3px;
    margin-left: 20px;
    width: 100px;
    color: #7e9777;
    background-color: #b08968;
}