.post-card-container {
    margin: 0 auto;
    width: 60%;
    background-color: #ffffff90;
}

.post-card {
    padding: 20px;
}

.post-card p {
    text-align: left;
}

.post-card-container img {
    width: auto;
    height: 300px;
}

.commentbox {
    margin: 0 auto;
    width: 60%;
    background-color: #b08968ba;
    text-align: left;
}

.comment-container {
    padding: 40px;
}

.replyreply {
    padding-left: 20px;
}

.reply-container {
    padding: 40px;
    background: #ffffff50;
}

@media screen and (max-width: 800px) {
    .post-card-container img {
        width: auto;
        height: 250px;
    }
}

@media screen and (max-width: 600px) {
    .post-card-container {
        width: 80%;
    }
    .commentbox {
        width: 80%;
    }
    .comment-container input {
        width: 100%
    }
}