.email-container {
    background-color: #e7c8a0;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-content: center;
}

.email-container input[type=text] {
    padding: 6px;
    border: none;
    border-radius: 20px;
    width: 30vw;
    height: 28px;
}

.email-container div {
    display: flex;
    justify-content: center;
    align-items: center;
}