input[type=file] {
    cursor: pointer;
}

input::file-selector-button {
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
}

.outerbar {
    text-align: center;
    align-content: center;
    display: inline-block;
}