.newpost_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: 60%;
    background-color: #b08968ba;
}

@media screen and (max-width: 600px) {
    .newpost_container {
        width: 80%;
    }
}

.newpost_container form {
    text-align: left;
    padding: 20px;
}