.list_container {
    padding-top: 20px;
    margin: 0 auto;
    width: 60%;
    background-color: #b08968ba;
}

.list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-content: center;
    align-content: center;
    padding: 50px 0px;
}

.collapsible {
    padding: 10px;
    width: 380px;
    background-color: #fafafa;
    border: 2px solid #fafafa;
    cursor: pointer;
    justify-content: space-between;
    border-radius: 0px;
    color: black;
    
    transition: 0.5s;
}

.collapsible:hover {
    background-color: #f4f1ec;
    border: 2px solid #f4f1ec;
}

@media screen and (max-width: 600px) {
    .list_container {
        width: 80%;
    }

    .collapsible {
        width: 80%;
    }
}

input[type=file] {
    cursor: pointer;
}

input::file-selector-button {
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
}

.outerbar {
    text-align: center;
    align-content: center;
    display: inline-block;
}